.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

# User settings
xcuserdata/

# Xcode compatibility
*.xcscmblueprint
*.xccheckout
build/

# Xcode 9 and later
*.xcdatamodel
*.xcdatamodeld
*.mappingmodel
*.xcuserstate

# Crashlytics / Fastlane
com.crashlytics.version-info.json
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# CocoaPods
Pods/
Podfile.lock
